* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

/* إخفاء شريط التمرير في Chrome, Safari, و Edge */
::-webkit-scrollbar {
    display: none;
}

/* إخفاء شريط التمرير في Firefox */
html {
    scrollbar-width: none;
    /* إخفاء التمرير */
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* إخفاء شريط التمرير في Internet Explorer و Edge Legacy */
    -ms-overflow-style: none;
    /* إخفاء التمرير */
}

body::before {
    position: absolute;
    min-height: 100vh;
    content: '';
    width: 100%;
}

/* Start Header */

header {
    position: absolute;
    width: 100%;
    background-color: hsla(198, 80%, 30%, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 20px;
    z-index: 100000;
}

header.sticky {
    padding: 10px 100px;
    background-color: rgb(0, 0, 0);
}

header nav.screen-big {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    position: relative;
    margin: auto;
}

header nav.screen-big ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav.screen-big ul li {
    list-style: none;
    position: relative;
    display: inline-block;
}

header nav.screen-big ul li a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    margin: 0 15px;
    transition: 0.6s;
}

/* Dropdown Styles */
nav.screen-big ul li ul {
    display: none;
    /* إخفاء القائمة المنسدلة بشكل افتراضي */
    position: absolute;
    /* لجعلها تظهر تحت العنصر الرئيسي */
    left: -60px;
    top: 100%;
    /* تظهر تحت العنصر الرئيسي */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 25px;
    width: 200px;
    border-radius: 0 0 12px 12px;
}

nav.screen-big ul li ul li {
    width: 100%;
    /* جعل عناصر القائمة المنسدلة تأخذ العرض الكامل */
}

nav.screen-big ul li ul li a {
    color: black;
    /* لون النص داخل القائمة المنسدلة */
    padding: 12px 16px;
    /* مساحة حول النص */
    display: block;
    /* جعل العناصر تأخذ مساحة كاملة */
}

nav.screen-big ul li ul li a:hover {
    background-color: #f1f1f1;
    /* تغيير لون الخلفية عند التمرير فوق العنصر */
}

nav.screen-big ul li ul.show {
    display: block;
    /* تظهر القائمة المنسدلة عند النقر */
}

header img.logo {
    width: 60px;
    position: relative;
    transition: 0.6s;
}

.row {
    width: 35px;
    height: 21px;
    position: relative;
}

span.line1 {
    position: absolute;
    height: 2px;
    width: 30px;
    background: #eee;
    top: 0;
}

span.line2 {
    position: absolute;
    height: 2px;
    width: 39px;
    background: #eee;
    bottom: 11px;
}

.line3 {
    position: absolute;
    height: 2px;
    width: 50px;
    background: #eee;
    bottom: 4px;
}

header article.row {
    display: none;
}

header nav.screen-small {
    display: none;
}

@media screen and (max-width :768px) {
    nav.screen-big ul.screen-big-none {
        display: none;
    }

    header nav.screen-small {
        display: block;
    }

    header article.row {
        display: block;
    }

    nav.screen-small {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 320px;
        box-sizing: border-box;
        background: red;
        top: 41px;
        left: 0;
        align-items: center;
        padding: 14px;
    }

    article.logoAboutUs {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    img.logo-screen-small {
        width: 200px;
        height: 200px;

    }

    nav.screen-small ul {
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 19px
    }

    .screen-small {
        transform: translateX(-100%);
    }

    .screen-small.animate {
        animation: appear-from-left 1s forwards;
    }

    .screen-small.animate-hide {
        animation: hide-from-left 1s forwards;
    }

    @keyframes appear-from-left {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes hide-from-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    ul li {
        width: 100%;
        border-bottom: #eee 1px solid;
        text-align: end;
        padding: 2px;
    }

    nav article p {
        border-bottom: #eee 1px solid;
        padding: 3px;
    }
}

/* End Header */

/* Stert Section */

.slider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    visibility: hidden;
    opacity: 0;
    /* زيادة المدة هنا */
    animation: slider 50s linear infinite;
    /* زيادة المدة هنا */
}

@keyframes slider {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    2% {
        visibility: visible;
        opacity: 1;
    }

    18% {
        visibility: visible;
        opacity: 1;
    }

    20%,
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.slider .slide:nth-child(1) {
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    animation-delay: 10s;
    /* زيادة التأخير */
}

.slider .slide:nth-child(3) {
    animation-delay: 20s;
    /* زيادة التأخير */
}

.slider .slide:nth-child(4) {
    animation-delay: 30s;
    /* زيادة التأخير */
}

.slider .slide:nth-child(5) {
    animation-delay: 40s;
    /* زيادة التأخير */
}

.slider .slide img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.3;
}

.slider .slide .content {
    position: absolute;
    top: 50vh;
    right: 60px;
    color: rgb(255, 255, 255);
    direction: rtl;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider .slide .content h1 {
    margin: 0;
    padding: 10px;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

.slider .slide .content p.p1 {
    margin: 10px 0 0;
    padding: 10px;
    font-size: 18px;
    width: 50%;
    color: rgb(207, 201, 201);
}

/* End Section */

/* Start */

#scrollBtn {
    display: none;
    /* زر مخفي بشكل افتراضي */
    position: fixed;
    /* يظل في نفس المكان حتى عند التمرير */
    bottom: 20px;
    /* المسافة من الأسفل */
    right: 30px;
    /* المسافة من اليمين */
    z-index: 99;
    /* وضع الزر فوق كل العناصر الأخرى */
    border: none;
    /* بدون حدود */
    outline: none;
    /* بدون تأثيرات حول الزر */
    background-color: #000000;
    /* لون الخلفية */
    color: rgb(255, 255, 255);
    /* لون النص */
    cursor: pointer;
    /* شكل المؤشر عند التمرير */
    padding: 15px;
    /* حجم الزر */
    border-radius: 10px;
    /* زوايا دائرية */
    font-size: 18px;
    /* حجم النص */
}

#scrollBtn:hover {
    background-color: #333;
    /* لون الخلفية عند التمرير على الزر */
}

@media(max-width: 425px) {
    #scrollBtn {
        right: 10px;
    }
}

/* End */

/* Start Section-1 */

section.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    direction: rtl;
    padding: 50px 20px;
    width: 100%;
    margin: auto;
    gap: 30px;
    line-height: 25px;
}

section.section-1 h1 {
    font-size: 22px;
}

section.section-1 ol {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

section.section-1 ol li {
    font-size: 20px;
    color: rgb(63, 62, 62);
}

.h1-2 {
    display: none;
}

@media(max-width: 768px) {
    section.section-1 {
        padding: 50px 30px;
        width: 100%;
        margin: auto;
        line-height: 25px;
    }

    section.section-1 h1 {
        font-size: 22px;

    }

    section.section-1 ol li {
        font-size: 20px;

    }

    @media(max-width: 426px) {
        .h1-1 {
            display: none;
        }

        .h1-2 {
            display: block;
        }
    }
}

/* End Section-1 */

hr {
    background-color: #000000;
    height: 3px;
    width: 80%;
    margin: auto;
}

/* Start Form */

form {
    width: 35%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    padding: 3px 5px 10px 0;
    margin: auto;
    margin-top: 50px;
}

form p.create-id-1,
.create-id-2 {
    font-size: 20px;
    font-weight: 600;
    color: #115085;
    text-shadow: #115085 0 0 1px;
}

form p.create-id-2 {
    display: none;
}

form input.name,
.email,
.id,
.phone-number {
    width: 90%;
    padding: 13px;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    outline: none;
    border-radius: 5px;
}

form input.email {
    direction: ltr;
}

form article.id-and-phone-number {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form article.id-and-phone-number input.id,
.phone-number {
    width: 50%;
    padding: 13px;
    outline: none;
}

form button {
    width: 170px;
    padding: 15px;
    outline: none;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    background: #000000;
    color: #ffffff;
    cursor: pointer;

}

/* Start responseve Form */

@media(max-width: 1274px) {
    form {
        width: 65%;
        height: 300px;
        gap: 10px;
    }

    form p {
        font-size: 18px;
        font-weight: 500;
    }

    form article.id-and-phone-number {
        gap: 10px;
    }

    form button {
        margin-top: 20px;
    }
}

@media(max-width: 918px) {
    form {
        width: 70%;
    }
}

@media(max-width: 768px) {
    form {
        width: 70%;
        padding: 10px;
    }

    form p {
        font-size: 20px;
    }

    form input.name,
    .email,
    .id,
    .phone-number {
        width: 100%;
    }

    form article.id-and-phone-number {
        width: 100%;
        gap: 15px;
    }

    form article.id-and-phone-number input.id,
    .phone-number {
        width: 100%;
    }

    form button {
        margin-top: 10px;
    }
}

@media(max-width: 574px) {
    form {
        width: 80%;
    }
}

@media(max-width: 418px) {
    form p.create-id-1 {
        display: none;
    }

    form p.create-id-2 {
        display: block;
    }
}

@media(max-width: 474px) {
    form {
        width: 90%;
    }
}

@media(max-width: 425px) {
    form {
        width: 100%;
        border-radius: 0;
    }
}

/* End responseve Form*/

/* End Form */

section.article-txt {
    width: 100%;
    margin-top: 50px;
}

section.article-txt .txt-head {
    width: 92%;
    height: 100px;
    background: #115085;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    padding: 10px;
    color: white;
}

.txt-head p {
    font-size: 28px;
    font-weight: 500;
}

.txt-head {
    overflow: hidden;
}

.txt-head p {
    opacity: 0;
    /* يبدأ النص غير مرئي */
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.5s ease;
}

section.cards2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section.cards2 .roqiatna {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 400px;
    transition: 0.8s;
    position: relative;
    padding: 10px;
}

section.cards2 img {
    width: 100px;
    border-radius: 50%;
    background: cover;
}

section.cards2 .resaltna {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 400px;
    transition: 0.8s;
    position: relative;
    padding: 10px;
    /* overflow: hidden; */
}

section.cards2 .roqiatna h3,
.resaltna h3 {
    text-align: center;
}

.resaltna::before,
.roqiatna::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #115085;
    z-index: -1;
    transition: 0.8s;
}

.resaltna::before,
.roqiatna::before {
    top: 0;
    border-radius: 0 0 20% 20%;

}

.resaltna:hover::before,
.roqiatna:hover::before {
    height: 100%;

}

@media screen and (max-width: 723px) {
    section.cards2 {
        display: flex;
        flex-direction: column;
    }

    section.cards2 .resaltna,
    section.cards2 .roqiatna {
        width: 90%;
    }
}

/* .style-horizon::after{
    content: '';
    background: red;
    min-width: 400px;
    height: 1px;
    display: block;
    
} */

section.counter-wrapper {
    background-color: #115085;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 9%;
    margin-top: 5px;
    position: relative;
    justify-content: space-around;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.counter-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.counter {
    text-align: center;
    color: #ffffff;
    z-index: 2;
    position: relative;
}

.counter .count {
    font-size: 30px;
    margin-bottom: 1rem;
}

.counter p {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.icon-counter i {
    font-size: 33px;
    color: #ddd;
}

.icon-counter i.icon-eye {
    color: #ffffff;
}

.icon-counter i.icon-globe-4 {
    color: #83ac2d;
}

.article-txt,
.cards2,
.counter-wrapper,
.section-1,
form {
    opacity: 0;
    /* البداية تكون شفافة */
    transform: translateY(20px);
    /* تحريك المحتوى للأسفل */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* تأثير الانتقال */
}

.visible {
    opacity: 1;
    /* المحتوى يصبح مرئي */
    transform: translateY(0);
    /* العودة لمكانه الأصلي */
}

/* start Footer */
.footer-distributed{
    width: 100%;
}
.footer-top {
    background: #666;
    background: linear-gradient(to right, #115085, rgb(110, 107, 107));
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    direction: rtl;
    border-top-right-radius: 100px;
}

.footer-top .footer-left,
.footer-top .footer-center,
.footer-top .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-top .footer-left {
    width: 40%;
}

.footer-left img {
    width: 60px;
}

/* The company logo */

.footer-top h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

/* Footer links */

.footer-top .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-top .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-top .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    gap: 10px;
    display: flex;
    align-items: center;
}

.footer-top .footer-company-name img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* Footer Center */

.footer-top .footer-center {
    width: 35%;
    direction: ltr;
}

.footer-top .footer-center i {
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-top .footer-center i.icon-mail{
    font-size: 20px;
    line-height: 38px;
    padding: 5px;
}

.footer-top .footer-center p,
pre {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-top .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-top .footer-center p a,
pre a {
    color: #fbcb1f;
    text-decoration: none;
}

.footer-top .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-top .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-top .footer-right {
    width: 20%;
}

.footer-top .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-top .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-top .footer-icons {
    margin-top: 25px;
}

.footer-top .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-bottom{
    background-color: #fbcb1f;
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
   padding: 10px;
   text-align: center;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-top {
        font: bold 14px sans-serif;
       padding: 10px;
    }

    .footer-top .footer-left,
    .footer-top .footer-center,
    .footer-top .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    } 

}

@media(max-width: 894px) {

    .footer-left img.logo-footer {

        margin: auto;

    }

    .footer-left a.footer-company-name {
        width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;

    }

    @media(max-width: 292px) {
        .footer-left a.footer-company-name {
            display: flex;
            flex-direction: column;
        }
    }
}

/* End Footer */
