header {
    flex-direction: row;
}

@media(max-width: 1177px) {
    header nav.screen-big {
        width: 60%;

    }
}

@media(max-width: 1015px) {
    header nav.screen-big {
        width: 65%;

    }
}

@media(max-width: 952px) {
    header nav.screen-big {
        width: 75%;

    }
}

@media(max-width: 851px) {
    header nav.screen-big {
        width: 80%;

    }
}

@media(max-width: 810px) {
    header nav.screen-big {
        width: 86%;

    }
}

@media(max-width: 598px) {
    .parallax-inner h1.our-achevements {
        font-size: 60px;
    }
}

@media(max-width: 378px) {
    .parallax-inner h1.our-achevements {
        font-size: 45px;
    }
}

.menu-content {
    left: -309px;
    transition: left 0.3s ease-in-out;
}

.menu-content.active {
    left: 0;
    /* تظهر القائمة عند الضغط */
}

.icon-cancel {
    left: 10px;
}

header nav.screen-big ul {
    flex-direction: row-reverse;
}

nav.screen-big ul li ul li a {
    direction: ltr;
}


@media(max-width:768px) {
    article.our-about {}
}

@media(max-width: 598px) {
    article.our-about {
        width: 93%;
    }
}


article.our-about article.color-paint {
    margin-left: -170px;
    margin-bottom: -70px;
}

article.our-about p {
    direction: ltr;
}

section.counter-wrapper {
    direction: ltr;
    display: flex;
}

section.our-achievements {
    direction: ltr;

}

.number-of-counter {
    gap: 0px;
}

section.benefit-of-id {
    direction: ltr;
}

.footer-top {
    direction: ltr;
    text-align: left;
    background: linear-gradient(to right, rgb(110, 107, 107), #115085);
}

.footer-top {}
